<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="ClassFinderService.ClassFinderService">
        <endpoint address="basic" binding="basicHttpBinding" contract="ClassFinderService.IClassFinderService" />
        <endpoint address="ws" binding="wsHttpBinding" contract="ClassFinderService.IClassFinderService" />
        <endpoint address="namepipe" binding="netNamedPipeBinding" contract="ClassFinderService.IClassFinderService" />
        <endpoint address="tcp" binding="netTcpBinding" contract="ClassFinderService.IClassFinderService" />
        <endpoint address="mex"  binding="mexHttpBinding"  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/classfinderservice" />
            <add baseAddress="net.tcp://localhost:8888/classfinderservice" />
            <add baseAddress="net.pipe://localhost/classfinderservice" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
